/*

 *= require 'masonry/transitions'
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "home.scss";
@import "posts.scss";

body {
	font-weight: 100;
}
.comment{
	padding-bottom: 3px solid #efefef;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}
nav {
	background: white;
	.navbar-brand {
		a {
			color:#858585;
			font-weight: 300;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.wrapper {
	width: 80%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}
.description{
	padding:10px;
	color: #8f8f8f;
	width: 700px;
}
.post_image_description>img{
	padding:10px 0 10px;
}
#pins {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}
}
h1.post_title{
	text-align:center;
}
p.created_by{
	text-align: center;
	color: #b0b0b0;
}
.ability{
	margin-top: 10px;
	padding-bottom: 4px solid #efefef;
	text-decoration: none;
}
.vote_wrap{
	padding-bottom: 10px;
	.votes{
		margin-bottom: 7px;
		padding-bottom: 2px solid #c4c4c4;
		text-decoration: none;
	}
}
